body {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: auto;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 50px;
}

.board {
  margin: 30px auto;
  width: 408px;
  height: 416px;
  overflow: hidden;
}

.score {
  position: relative;
  margin: auto;
  height: 20px;
  width: 50px;
  font-size: 50px;
  font-style: oblique;
  text-align: center;
}

.column {
  height: 408px;
  width: 68px;
  float: left;
  margin: 0;
  padding: 0;
}

.dot {
  float: left;
  position: relative;
  margin: 7px;;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: blue;
  list-style: none;
  transition: display 2000ms, top 200ms, right 200ms, left 200ms, bottom 200ms;
  animation: entering 1000ms;
  opacity: 1;
}

@keyframes entering {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
  }

.dot:hover {
  opacity: .6;
}


.blue {
  background-color: #8CBEFF;
}

.purple {
  background-color: #9C5DB5;
}

.yellow {
  background-color: #E6DB21;
}

.red {
  background-color: #EF5D42;
}

.green {
  background-color: #8CEB94;
}
