body {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: auto;
}

.title {
  text-align: center;
  margin: auto;
  width: 140px;
  font-size: 80px;
  font-weight: lighter;
}

.board {
  margin: 30px auto;
  width: 408px;
  height: 416px;
  transform: rotate(180deg);
  overflow: hidden;
}

.score {
  position: relative;
  margin: auto;
  height: 70px;
  width: 50px;
  font-size: 50px;
  font-style: oblique;
  text-align: center;
}

.instructions {
  margin: auto;
  height: 200px;
  width: 500px;
  font-style: oblique;
}

.instructions-header {
  text-align: center;
}

.column {
  height: 408px;
  width: 68px;
  float: left;
  margin: 0;
  padding: 0;
}

.dot {
  float: left;
  position: relative;
  margin: 7px;;
  height: 50px;
  width: 50px;
  border: 1.5px solid black;
  border-radius: 50%;
  background-color: blue;
  list-style: none;
  animation: entering 700ms;
  opacity: 1;
  transition: transform ease-in-out 500ms;


}

.dot[linked] {
  opacity: .5;
}

@keyframes entering {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
  }

.dot:hover {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 2px -5px 2px 0 rgba(50,50,50,.2);
  transition: transform ease-in-out 150ms;
}


.blue {
  background-color: #8CBEFF;
}

.purple {
  background-color: #9C5DB5;
}

.yellow {
  background-color: #E6DB21;
}

.red {
  background-color: #EF5D42;
}

.green {
  background-color: #8CEB94;
}
