body {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: auto;
}

.title {
  text-align: center;
  margin: auto;
}

.board {
  margin: 30px auto;
  width: 300px;
  height: 320px;
  overflow: hidden;
}

.score {
  position: relative;
  margin: auto;
  height: 20px;
  width: 50px;
  font-size: 30px;
  text-align: center;
}

.column {
  height: 348px;
  width: 50px;
  float: left;
  margin: 0;
  padding: 0;
}

.dot {
  float: left;
  position: relative;
  margin: 10px;;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: blue;
  list-style: none;
  transition: display 2000ms, top 200ms, right 200ms, left 200ms, bottom 200ms;
}

.dot:hover {
  opacity: .6;
}


.blue {
  background-color: #8CBEFF;
}

.purple {
  background-color: #9C5DB5;
}

.yellow {
  background-color: #E6DB21;
}

.red {
  background-color: #EF5D42;
}

.green {
  background-color: #8CEB94;
}
